$text-color: #fff;
$primary-bg-color: #27175d;
$secondary-bg-color-1: #997df8;
$secondary-bg-color-2: #835eff;
$secondary-bg-color-3: #a388fd;
$thrtiary-bg-color: #ccbff8;
$overlay-bg-color: #1d0d3c;
$form-section-bg: #fcfcfc;
$error-color: #e13d00;
$form-container-bg: #663399;
