@font-face {
  font-family: "Iransans";
  src: url("../font/IRANSans-Light.eot");
  src: url("../font/IRANSans-Light.eot?#iefix") format("embedded-opentype"),
    url("../font/IRANSans-Light.woff2") format("woff2"),
    url("../font/IRANSans-Light.woff") format("woff"),
    url("../font/IRANSans-Light.ttf") format("truetype"),
    url("../font/IRANSans-Light.svg#IRANSans-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Iransans";
  src: url("../font/IRANSans.eot");
  src: url("../font/IRANSans.eot?#iefix") format("embedded-opentype"),
    url("../font/IRANSans.woff2") format("woff2"),
    url("IRANSans.woff") format("woff"),
    url("../font/IRANSans.ttf") format("truetype"),
    url("../font/IRANSans.svg#IRANSans") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Iransans";
  src: url("../font/IRANSans_1.eot");
  src: url("../font/IRANSans_1.eot?#iefix") format("embedded-opentype"),
    url("../font/IRANSans_1.woff2") format("woff2"),
    url("../font/IRANSans_1.woff") format("woff"),
    url("../font/IRANSans_1.ttf") format("truetype"),
    url("../font/IRANSans_1.svg#IRANSans") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Iransans";
  src: url("../font/IRANSans-Bold.eot");
  src: url("../font/IRANSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("../font/IRANSans-Bold.woff2") format("woff2"),
    url("../font/IRANSans-Bold.woff") format("woff"),
    url("../font/IRANSans-Bold.ttf") format("truetype"),
    url("../font/IRANSans-Bold.svg#IRANSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Iransans";
  src: url("../font/IRANSans-Medium.eot");
  src: url("../font/IRANSans-Medium.eot?#iefix") format("embedded-opentype"),
    url("../font/IRANSans-Medium.woff2") format("woff2"),
    url("../font/IRANSans-Medium.woff") format("woff"),
    url("../font/IRANSans-Medium.ttf") format("truetype"),
    url("../font/IRANSans-Medium.svg#IRANSans-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Iransans";
  src: url("../font/IRANSans-Light_1.eot");
  src: url("../font/IRANSans-Light_1.eot?#iefix") format("embedded-opentype"),
    url("../font/IRANSans-Light_1.woff2") format("woff2"),
    url("../font/IRANSans-Light_1.woff") format("woff"),
    url("../font/IRANSans-Light_1.ttf") format("truetype"),
    url("../font/IRANSans-Light_1.svg#IRANSans-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANSans";
  src: url("../font/IRANSans-Bold_1.eot");
  src: url("../font/IRANSans-Bold_1.eot?#iefix") format("embedded-opentype"),
    url("../font/IRANSans-Bold_1.woff2") format("woff2"),
    url("../font/IRANSans-Bold_1.woff") format("woff"),
    url("../font/IRANSans-Bold_1.ttf") format("truetype"),
    url("../font/IRANSans-Bold_1.svg#IRANSans-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IRANSans";
  src: url("../font/IRANSans-Medium_1.eot");
  src: url("../font/IRANSans-Medium_1.eot?#iefix") format("embedded-opentype"),
    url("../font/IRANSans-Medium_1.woff2") format("woff2"),
    url("../font/IRANSans-Medium_1.woff") format("woff"),
    url("../font/IRANSans-Medium_1.ttf") format("truetype"),
    url("../font/IRANSans-Medium_1.svg#IRANSans-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Iransans";
  src: url("../font/IRANSans-UltraLight.eot");
  src: url("../font/IRANSans-UltraLight.eot?#iefix") format("embedded-opentype"),
    url("../font/IRANSans-UltraLight.woff2") format("woff2"),
    url("../font/IRANSans-UltraLight.woff") format("woff"),
    url("../font/IRANSans-UltraLight.ttf") format("truetype"),
    url("../font/IRANSans-UltraLight.svg#IRANSans-UltraLight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Iransans";
  src: url("../font/IRANSans-UltraLight_1.eot");
  src: url("../font/IRANSans-UltraLight_1.eot?#iefix")
      format("embedded-opentype"),
    url("../font/IRANSans-UltraLight_1.woff2") format("woff2"),
    url("../font/IRANSans-UltraLight_1.woff") format("woff"),
    url("../font/IRANSans-UltraLight_1.ttf") format("truetype"),
    url("../font/IRANSans-UltraLight_1.svg#IRANSans-UltraLight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
